SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# Mettre USE_SQLITE=True pour démarrer sans PostgreSQL (développement uniquement)
USE_SQLITE=False

DB_NAME=churchhub
DB_USER=churchhub
DB_PASSWORD=churchhub
DB_HOST=localhost
DB_PORT=5544

TIME_ZONE=Africa/Kinshasa
DEFAULT_CURRENCY=CDF

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
